<div style="display:block">
    <div style="width: 20%; display: inline-block; text-align: left;">
        <div class="crop">
            <img src="http://networthcorp.net/NetworthCorp_LogoUsage_R1-01.jpg" style="height:75px; margin-left:0px" />
        </div>
    </div>
    <div style="width: 59%; display: inline-block">
        <h1  style="text-align: center"> Merge Dataframes</h1>
        <div style="width: 90%; text-align: center; display: inline-block;"><i>Author:</i> <strong>NetworthCorp</strong> </div>
    </div>
    <div style="width: 20%; text-align: right; display: inline-block;">
        <div style="width: 100%; text-align: left; display: inline-block;">
            <i>Created: </i>
            <time datetime="Enter Date" pubdate>June, 2018</time>
        </div>
    </div>
</div>

# Functionality
- Function to take two dataframes and perform various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

##  Required parameters 
* Input Data frames
* Merge types, can be merge, join, concatenate
* Column Name
* Merge function parameters
* Concat function parameters

## Input parameters
* .Dataframes
* Type of operation to be performed: 
            * concat- horizontal/ vertical
            * merge- column name, how(inner, outer, left, right), left and right suffix, with or without index

## Default parameters
*  The location to which the outPut csv file is saved

## Return 
* Returns the data frame with the merged datasets

# Code

In [39]:
import pandas as pd
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
        'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
        'data2': range(3)})
df3 = pd.read_csv('USDAProj_Corn_2007to2008.csv')
df4 = pd.read_csv('USDAProj_Corn_2008to2009.csv')
df5 = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})
df6 = pd.DataFrame({
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

In [1]:
def concat(df1, df2, param):
    if param == 'vertical': #for vertical join
        if len(df1.columns) != len(df2.columns): #check if no. of columns of the 2 df are equal
            print('Concatenation not possible, number of headers not equal') 
        else:
            if list(df1.columns.values) != list(df2.columns.values): #checks if the column headers match
                print('Concatenation not possible, headers of the 2 dataframes not equal')
            else:
                df= pd.concat([df1, df2], ignore_index= True)
                display(df) #displays concatenated df
    elif param == 'horizontal': #for horizantal join
        df= pd.concat([df1, df2], axis = 1)
        display(df)
    else:
        print('Invalid Input')

def mergewocol(df1, df2): #for simple datasets which have common column
    if len(df1.index) != len(df2.index): #checks for number of rows
        print('WARNING: Number of rows unequal') #throws warning if number of rows are unequal 
        df= pd.merge(df1, df2)
        display(df)
    else:
        df= pd.merge(df1, df2)
        display(df)


def mergeon(df1, df2, ColumnName): #merges based on one particular column
    if len(df1.index) != len(df2.index): 
        print('WARNING: Number of rows unequal')
        df= pd.merge(df1, df2, on = ColumnName)
        display(df)
    else:
        df= pd.merge(df1, df2, on = ColumnName)
        display(df)
        
def mergehow(df1, df2, ColumnName, how): #merges left/right/inner/outer
    
    if how == 'left':
        if len(df1.index) != len(df2.index):
            print('WARNING: Number of rows unequal')
            df= pd.merge(df1, df2, on = ColumnName, how = 'left')
            display(df)
        else:
            df= pd.merge(df1, df2, on = ColumnName, how = 'left')
            display(df) 
        
    elif how == 'right':
        if len(df1.index) != len(df2.index):
            print('WARNING: Number of rows unequal')
            df= pd.merge(df1, df2, on = ColumnName, how = 'right')
            display(df)
        else:
            df= pd.merge(df1, df2, on = ColumnName, how = 'right')
            display(df)        
    
    elif how == 'inner':
        if len(df1.index) != len(df2.index):
            print('WARNING: Number of rows unequal')
            df= pd.merge(df1, df2, on = ColumnName, how = 'inner')
            display(df)
        else:
            df= pd.merge(df1, df2, on = ColumnName, how = 'inner')
            display(df)        
            
    elif how == 'outer':
        if len(df1.index) != len(df2.index):
            print('WARNING: Number of rows unequal')
            df= pd.merge(df1, df2, on = ColumnName, how = 'outer')
            display(df)
        else:
            df= pd.merge(df1, df2, on = ColumnName, how = 'outer')
            display(df)
            
def mergewindex(df1, df2): #merges taking left index and right index seperately
    if len(df1.index) != len(df2.index):
        print('WARNING: Number of rows unequal')
        df= pd.merge(df_a, df_b, right_index=True, left_index=True)
        display(df)
    else:
        df= pd.merge(df_a, df_b, right_index=True, left_index=True)
        display(df)

def mergewsuffix(df1, df2, sufx1, sufx2): #user can name suffix based on which dataframe is merged
    if len(df1.index) != len(df2.index):
        print('WARNING: Number of rows unequal')
        df= df1.join(df2, lsuffix= sufx1, rsuffix= sufx2)
        display(df)
    else:
        df= df1.join(df2, lsuffix='sufx1', rsuffix='sufx2')
        display(df)

# Testing

## Test 1

In [21]:
# Test 1
# Test Data Set Import
# Call function created for this dataset
merge(df1, df2, 'key')

WARNING: Number of rows unequal

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

### Pass/Fail
Test passed

## Test 2

In [33]:
# Test 2
# Test Data Set Import
# Call function created for this dataset
concat(df3, df4, 'vertical')

,Date,Area Planted,Area Harvested,Yield,Beginning Stocks,Production,Imports,Total Supply,Feed and Residual,FSI,...,Southeast Asia DomesticTotal,Southeast Asia Exports,Southeast Asia EndingStocks,European Union BeginningStocks,European Union Production,European Union Imports,European Union DomesticFeed,European Union DomesticTotal,European Union Exports,European Union EndingStocks
0,2007/05/11,90.5,82.9,150.3,937.0,12460.0,15.0,13412.0,5700.0,4790.0,...,21.35,0.24,1.95,10.42,55.37,3.50,45.3,60.3,0.30,8.69
1,2007/06/11,90.5,82.9,150.3,987.0,12460.0,15.0,13462.0,5700.0,4790.0,...,21.35,0.24,1.95,10.72,55.72,3.50,45.8,60.8,0.30,8.84
2,2007/07/12,92.9,85.4,150.3,1137.0,12840.0,15.0,13992.0,5700.0,4790.0,...,21.35,0.24,1.97,10.72,55.23,3.50,45.8,60.8,0.30,8.35
3,2007/08/10,92.9,85.4,152.8,1137.0,13054.0,15.0,14206.0,5750.0,4790.0,...,21.35,0.24,1.92,10.72,48.43,6.00,45.8,60.8,0.30,4.05
4,2007/09/12,92.9,85.4,155.8,1142.0,13308.0,15.0,14465.0,5850.0,4690.0,...,21.35,0.24,1.77,10.62,46.94,8.00,46.5,61.5,0.30,3.76
5,2007/10/12,93.6,86.1,154.7,1304.0,13318.0,15.0,14637.0,5700.0,4590.0,...,21.35,0.24,1.74,10.37,46.39,9.50,46.0,61.0,0.30,4.96
6,2007/11/09,93.6,86.1,153.0,1304.0,13168.0,15.0,14487.0,5650.0,4590.0,...,21.35,0.24,1.68,9.83,46.91,9.50,46.0,61.0,0.30,4.94
7,2007/12/11,93.6,86.1,153.0,1304.0,13168.0,15.0,14487.0,5650.0,4590.0,...,21.35,0.24,1.68,9.85,47.26,9.50,46.0,61.0,0.30,5.31
8,2008/01/11,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,5950.0,4555.0,...,21.35,0.24,1.68,9.90,47.37,10.00,46.6,61.6,0.30,5.36
9,2008/02/08,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,5950.0,4555.0,...,21.35,0.24,1.56,10.08,47.50,10.00,46.6,61.6,0.30,5.67
10,2008/03/11,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,5950.0,4555.0,...,20.95,0.24,1.82,10.08,47.48,10.50,47.1,62.1,0.30,5.65
11,2008/04/09,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,6150.0,4460.0,...,21.25,0.24,1.82,10.08,47.72,11.50,48.1,63.1,0.30,5.90
12,2008/05/09,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,6150.0,4360.0,...,21.15,0.51,1.84,8.76,48.39,13.00,49.0,61.8,0.35,8.01
13,2008/06/10,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,6150.0,4360.0,...,21.70,0.51,1.79,8.76,48.39,13.00,49.0,61.8,0.35,8.01
14,2008/07/11,93.6,86.5,151.1,1304.0,13074.0,15.0,14393.0,6050.0,4295.0,...,21.70,0.51,1.76,8.76,48.39,13.00,49.0,61.8,0.50,7.86
15,2008/08/12,93.6,86.5,151.1,1304.0,13074.0,18.0,14396.0,6050.0,4345.0,...,21.30,0.51,1.76,7.38,47.32,13.00,48.5,61.5,0.50,5.71
16,2008/09/12,93.6,86.5,151.1,1304.0,13074.0,18.0,14396.0,6050.0,4345.0,...,21.30,0.51,1.76,7.38,47.31,13.00,48.5,61.5,0.50,5.70
17,2008/10/10,93.6,86.5,151.1,1304.0,13074.0,18.0,14396.0,5999.0,4338.0,...,21.30,0.55,1.72,7.38,47.37,13.50,49.0,62.0,0.50,5.75
18,2008/11/10,93.6,86.5,151.1,1304.0,13074.0,20.0,14398.0,5974.0,4364.0,...,21.30,0.55,1.72,7.38,47.52,13.50,50.0,63.0,0.50,4.90
19,2008/12/12,93.6,86.5,151.1,1304.0,13074.0,20.0,14398.0,5974.0,4364.0,...,21.30,0.55,1.72,7.38,47.52,13.50,50.0,63.0,0.50,4.90
20,2009/01/12,93.5,86.5,150.7,1304.0,13038.0,20.0,14362.0,5938.0,4363.0,...,21.30,0.55,1.72,7.38,47.67,14.02,50.5,63.5,0.59,4.97
21,2009/02/10,93.5,86.5,150.7,1304.0,13038.0,20.0,14362.0,5938.0,4363.0,...,21.30,0.55,1.72,7.38,47.67,14.02,50.5,63.5,0.59,4.97
22,2009/03/11,93.5,86.5,150.7,1304.0,13038.0,20.0,14362.0,5938.0,4363.0,...,21.30,0.55,1.72,7.38,47.67,14.02,50.5,63.5,0.59,4.97
23,2009/04/09,93.5,86.5,150.7,1304.0,13038.0,20.0,14362.0,5938.0,4363.0,...,21.20,0.59,1.76,7.38,47.67,14.02,50.5,63.5,0.59,4.97
24,2008/05/09,86.0,78.8,153.9,1383.0,12125.0,15.0,13523.0,5300.0,5360.0,...,21.98,0.54,1.63,8.01,56.12,7.00,46.2,60.2,1.00,9.93
25,2008/06/10,86.0,78.8,148.9,1433.0,11735.0,15.0,13183.0,5150.0,5360.0,...,22.33,0.54,1.78,8.01,56.12,7.00,46.2,60.2,1.00,9.93
26,2008/07/11,87.3,78.9,148.4,1598.0,11715.0,15.0,13328.0,5200.0,5295.0,...,22.33,0.54,1.75,7.86,57.46,6.50,48.0,62.0,1.00,8.82
27,2008/08/12,87.0,79.3,155.0,1576.0,12288.0,15.0,13878.0,5300.0,5445.0,...,22.33,0.54,1.75,5.71,58.59,4.00,47.0,61.0,1.00,6.29
28,2008/09/12,87.0,79.3,152.3,1576.0,12072.0,15.0,13663.0,5200.0,5445.0,...,21.98,0.54,1.35,5.70,58.14,3.00,47.0,61.0,1.00,4.83
29,2008/10/10,86.9,79.2,154.0,1624.0,12200.0,15.0,13839.0,5350.0,5335.0,...,21.98,0.54,1.31,5.75,59.15,2.50,47.0,61.0,1.00,5.40
30,2008/11/10,85.9,78.2,153.8,1624.0,12020.0,15.0,13659.0,5300.0,5335.0,...,21.88,0.54,1.56,4.90,59.49,2.00,46.5,60.5,2.00,3.89
31,2008/12/12,85.9,78.2,153.8,1624.0,12020.0,15.0,13659.0,5350.0,5035.0,...,21.88,0.54,1.56,4.90,60.92,2.00,46.5,60.5,2.00,5.32
32,2009/01/12,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5300.0,4900.0,...,21.78,0.54,1.56,4.97,61.20,2.00,46.5,60.5,2.00,5.67
33,2009/02/10,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5300.0,4900.0,...,21.78,0.54,1.90,4.97,61.36,2.00,46.5,60.5,2.00,5.83
34,2009/03/11,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5300.0,5000.0,...,21.58,0.54,1.70,4.97,61.36,2.00,46.5,60.5,2.00,5.83
35,2009/04/09,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5350.0,4990.0,...,21.18,0.64,1.69,4.97,61.36,2.00,46.5,60.5,2.00,5.83
36,2009/05/12,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5350.0,5040.0,...,27.70,0.70,2.77,4.91,62.38,2.50,47.3,61.6,2.00,6.19
37,2009/06/10,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5350.0,5040.0,...,27.70,0.70,2.77,4.91,62.38,2.50,47.3,61.6,2.00,6.19
38,2009/07/10,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5250.0,4920.0,...,27.80,0.70,2.66,4.96,62.42,2.50,47.2,61.7,2.00,6.18
39,2009/08/12,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5250.0,4920.0,...,27.80,0.70,2.66,4.96,62.42,2.50,47.2,61.7,2.00,6.18
40,2009/09/11,86.0,78.6,153.9,1624.0,12101.0,15.0,13740.0,5250.0,4945.0,...,27.80,0.70,2.66,4.46,62.69,2.50,46.5,61.0,1.75,6.90
41,2009/10/09,86.0,78.6,153.9,1624.0,12101.0,14.0,13739.0,5231.0,4976.0,...,27.80,0.70,2.66,4.46,62.69,2.50,46.5,61.0,1.75,6.90
42,2009/11/10,86.0,78.6,153.9,1624.0,12101.0,14.0,13739.0,5254.0,4953.0,...,27.90,0.77,2.94,4.36,62.70,2.50,47.5,62.0,1.75,5.81
43,2009/12/10,86.0,78.6,153.9,1624.0,12101.0,14.0,13739.0,5254.0,4953.0,...,27.90,0.77,2.94,4.36,62.70,2.50,47.5,62.0,1.75,5.81
44,2010/01/12,86.0,78.6,153.9,1624.0,12092.0,14.0,13729.0,5246.0,4953.0,...,27.90,0.77,2.94,4.36,62.70,2.80,47.5,62.0,1.75,6.11
45,2010/02/09,86.0,78.6,153.9,1624.0,12092.0,14.0,13729.0,5246.0,4953.0,...,28.20,0.77,3.24,4.36,62.72,2.74,47.5,62.0,1.74,6.08
46,2010/03/10,86.0,78.6,153.9,1624.0,12092.0,14.0,13729.0,5246.0,4953.0,...,28.30,0.76,3.23,4.36,62.72,2.74,47.5,62.0,1.74,6.08
47,2010/04/09,86.0,78.6,153.9,1624.0,12092.0,14.0,13729.0,5246.0,4953.0,...,28.10,0.76,4.13,4.36,62.72,2.74,47.5,62.0,1.74,6.08

### Pass/Fail
Test Passed

## Test 3

In [40]:
# Test 2
# Test Data Set Import
# Call function created for this dataset
mergehow(df5, df6, 'subject_id','outer')

  first_name_x last_name_x subject_id first_name_y last_name_y
0         Alex    Anderson          1          NaN         NaN
1          Amy    Ackerman          2          NaN         NaN
2        Allen         Ali          3          NaN         NaN
3        Alice        Aoni          4        Billy      Bonder
4       Ayoung     Atiches          5        Brian       Black
5          NaN         NaN          6         Bran     Balwner
6          NaN         NaN          7        Bryce       Brice
7          NaN         NaN          8        Betty      Btisan

### Pass/Fail
Test passed